[Unit]
Description=VocaGuard FCM Token Server
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/opt/vocaguard-venv/bin/python3 /opt/vocaguard/token_server.py
Restart=always
RestartSec=3
StartLimitIntervalSec=0
User=root
StandardOutput=append:/var/log/vocaguard_token.log
StandardError=append:/var/log/vocaguard_token.log
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
